.box {
    height: 100px;
    width: 300;
    background-color: pink;

    /*animation-name: chiragAnimation; */
    animation-name: colorAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 10;
    animation-direction: normal;
   /*animation: colorAnimate 3s ease-in 0 10 normal;   */

}
/*@keyframes chiragAnimation {
    from {
        font-size: 20px;
    }
    to {
        font-size: 60px;
    }
}*/
@keyframes colorAnimate {
    from {
        background-color: green;
    }
    to {
        background-color: blue;
    }
}

