.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display:grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 100px 100px 100px;;
    grid-gap: 10px;
    /*justify-items: center;  
      align-self: center;  */
}

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

.one {
    grid-column: 1/3; 
    background-color: pink;
    color:black;
}

/*the priority wil be given to .two becuse it is code after .one*/
.two {
    grid-row:1/3;
    background-color: purple;
}